@media screen and (max-width: 1600px) {
    #work .horizontal-wrapper .workli .top .sub {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #main .top img {
        display: none;
    }

    #main .chara .beam {
        display: none;
    }

    #main .txt {
        height: 30vh;
        align-items: center;
    }

    #main img.bottom {
        display: none;
    }

    #resume {
        height: 120vh;
    }

    #resume .paper .deco {
        display: none;
    }

    #resume .paper .txt img {
        display: none;
    }

    #about {
        height: 250vh;
    }

    #about .tit {
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    #about .cartoon {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
        width: 100%;
        height: 90%;
    }

    #about .cartoon .cut1 {
        width: 100vw;
        height: 60%;
    }

    #about .cartoon .cut1 .C11 {
        left: 2%;
        top: 12%;
    }

    #about .cartoon .cut1 .cut1A {
        width: 100%;
        height: 100%;
        position: unset;
        background: url(../img/about/cut1A.svg) no-repeat center;
    }

    #about .cartoon .cut1 .C12 {
        bottom: 12%;
        right: 2%;
    }

    #about .cartoon .cut_right {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6%;
    }

    #about .cartoon .cut_right .cut2 {
        width: 100%;
        height: inherit;
    }

    #about .cartoon .cut2 .C21 {
        left: 2%;
    }

    #about .cartoon .cut_right .cut2A {
        position: unset;
        background: url(../img/about/cut2A.svg) no-repeat center;
    }

    #about .cartoon .cut2 .C22 {
        bottom: -4%;
    }

    #about .cartoon .cut3 .C31 {
        bottom: -10%;
        right: 2%;
    }

    #about .cartoon .cut_right .cut3A {
        position: unset;
        background: url(../img/about/cut3A.svg) no-repeat center;
    }

    #contact .img .bottom_frame {
        display: none;
    }

    #work .horizontal-wrapper .workli .top h4 {}

    #work .horizontal-wrapper .workli .top .button .view {}
}




@media screen and (max-width: 1000px) {
    #contact {
        height: 80vh;
    }

    #contact .cont_txt {
        width: 100%;
        height: fit-content;
    }

    #contact .cont_txt .bottom {
        display: none;
    }

    #work {
        width: 100vw;
        min-height: fit-content;
        margin-top: 10vh;
    }

    #work .tit {
        margin: 4vh 0;
        text-align: center;
    }

    #work .horizontal-wrapper {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    #work .horizontal-wrapper .workli .top h4 {
        font-size: clamp(20px, 2.8vw, 40px);
    }

    #work .horizontal-wrapper .workli .top .button .view {
        display: none;
    }

    #work .horizontal-wrapper .workli .top .button .buttons {
        position: relative;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        width: clamp(98px, 5vw, 112px);
    }

    #work .horizontal-wrapper .workli .top .button .buttons a {}

    #work .horizontal-wrapper .workli .top .button2 {}
}

@media screen and (max-width: 768px) {

    #resume {
        height: 150vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 24%;
    }

    #resume .skill {
        position: unset;
    }

    #resume .skill ul {
        flex-direction: row;
    }

    #resume .paper {
        justify-content: center;
        gap: 60px;
        height: 60%;
    }

    #resume .paper .character img {
        display: none;
    }

    #resume .paper .tit img {
        display: none;
    }

    #resume .paper .txt {
        position: unset;
    }

    #contact .cont_txt .bottom {
        display: none;
    }

    #contact {}

    #work .horizontal-wrapper {
        gap: 4vw;
    }

    #work .horizontal-wrapper .workli {
        width: 80vw;
    }

    #work .horizontal-wrapper .workli .top {
        padding: 2vh 2vw;
    }

    #work .horizontal-wrapper .workli .top h4 {
        font-size: clamp(20px, 5vw, 60px);
    }

    #work .horizontal-wrapper .workli .bottom_img {
        width: 80vw;
    }

    #work .horizontal-wrapper .workli .top .button {
        flex-direction: row;

    }

    #work .horizontal-wrapper .workli .top .button .buttons a {
        font-size: 14px;
        width: clamp(98px, 5vw, 112px);
    }
    #work .horizontal-wrapper .workli .top .button2{
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    #main .txt {
        font-size: clamp(2.4rem, 7vw, 10rem);
    }


}

@media screen and (max-width: 500px) {


    #contact .cont_txt p {
        display: none;
    }

    #contact .cont_txt .top {
        margin-bottom: clamp(20px, 2vh, 50px);
    }

    #contact .cont_txt .top .cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1vh;
    }

    #contact .cont_txt .top .cont>div {
        display: flex;
        flex-direction: column-reverse;
    }
}