@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url(../css/font.css);
@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');
/* font-family: "Pretendard Variable", sans-serif; 
font-family: 'Butler', sans-serif;
  font-family: "Prociono", serif;
  */
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul,li{
    list-style: none;
}
body {
    color: #333;
    font-family: var(--Pretendard);
}

:root{
    --main-color: #C20C0F;
/*     --main-red-m: #C20C0F;
    --main-red-d: #840002; */
    --main-yellow: #FFDD79;
    --w-color-1: #333;
    --w-color-2: #fff;
    --w-gray: #666;
    --Pretendard: "Pretendard Variable", sans-serif; 
    --Butler: 'Butler', sans-serif;
    --Prociono: "Prociono", serif;
}

::selection {
    background-color: rgba(233, 33, 36, 0.5);
    color: #fff; 
}
/* 
::selection {
    background: transparent;
    color: inherit;
} */

footer {
    background: #222;
    display: flex;
    justify-content: space-between;
    padding: 80px 280px;
}

footer .left {
    display: flex;
    gap: 60px;
}

footer .left .logo {
    width: 124px;
    height: 48px;
}

footer .left .logo a{
    display: block;
    width: 100%; height: 100%;
}

footer .left .logo a img{
    width: 100%;
    height: auto;
    filter: invert(100%);
}

footer .left .txt {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer .left .txt .tit {
    color: var(--w-color-2);
    font-size: 16px;
    font-weight: 500;
    display: flex;
}

footer .left .txt .tit a {
    text-align: center;
    height: 16px;
    width: 80px;
    border-right: 2px solid var(--w-color-2);
}

footer .left .txt .tit a:last-child {
    border-right: 0;
}

footer .left .txt p {
    color: #ccc;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}

footer .sns {
    display: flex;
    gap: 25px;
}

footer .sns a {
    background: #ccc;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .sns a i {
    font-size: 24px;
    color: #222;
    transform: scale(1);
    transition: 0.5;
}

footer .sns a:hover {
    transform: scale(1.1);
}


/* footer */

@media screen and (max-width: 1224px) {
    footer .sns a:hover {
        transform: none;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        padding: 80px 26px;
    }

    footer .left {
        gap: 30px;
    }

    footer .sns {
        gap: 20px;
    }
}

@media screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        padding: 80px 26px;
        gap: 30px;
        align-items: center;
    }

    footer .left {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    
    footer .left .txt .tit {
        justify-content: center;
    }
    footer .sns {
        gap: 20px;
    }
    

   
}

