@charset "utf-8";

html,
body {
    scroll-behavior: smooth;
    user-select: none;
    color: var(--w-color-1);
}

body.no-scroll {
    overflow: hidden;
}

.wrap {
/*     overflow: hidden; */
    position: relative;
}

.mobile_nav {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    z-index: 100;
    background: var(--main-color);
    display: none;
}
.mobile_nav img{
    filter: invert(100%);
}
.mobile_nav .top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 25px;
}

.mobile_nav .top h1 {
    width: 127px;
    height: auto;
}

.mobile_nav .top .close {
    cursor: pointer;
    filter: invert(100%);
}

.mobile_nav h1 a {
    width: 100%;
    height: auto;
    display: block;
}

.mobile_nav .snb {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.mobile_nav .snb li {
    height: 120px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

.mobile_nav .snb li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.50);
}

.mobile_nav .snb li a {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
}

/* mobile_nav */

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    position: relative;
    z-index: 2;
}

nav h1 {
    width: clamp(130px,10vw,180px);
    height: auto;
}

nav h1 a {
    display: block;
    width: 100%;
    height: 100%;
}
h1 a img{
    width: 100%;
    height: auto;

}

.gnb {
    display: flex;
}

.gnb li {
    width: 176px;
    height: 84px;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    transition: .3s;
}

.gnb li:hover {
    font-weight: 600;
    color: var(--w-color-1);
}

.gnb li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ham {
    display: none;
    cursor: pointer;
}

/* nav */

.bannner {
    width: 100%;
    padding: 146px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url(../asset/menu/menu_banner.png);
}

.bannner .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bannner .tit {
    text-align: center;
    font-size: 80px;
    color: var(--w-color-2);
    line-height: 1em;
}

.bannner .tit h2 {
    font-weight: 200;

}

.bannner .tit p {
    font-weight: 500;
}

.bannner .txt>p {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    line-height: 1.4em;
}

main{
    width: 100%;
    height: max-content;
    position: relative;
}

.tabbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    top: 0;
    z-index: 10;
}

.tabbar ul{
    display: flex;
    justify-content: center;
}

.tabbar li {
    flex-shrink: 0;
    width: clamp(115px,20vw,382px);       
    height: clamp(20px, 8vh, 80px);  
    font-size: clamp(0.7rem, 2vw, 1.375rem);
    font-weight: 400;
    color: var(--w-color-2);
    border-left: 1px solid var(--w-color-2);
}

.tabbar li:last-child{
    border-right: 1px solid var(--w-color-2);
}

.tabbar ul.bottom li{
    border-top: 1px solid var(--w-color-2);
}

.tabbar li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    padding: 0 10px;
    text-align: center;
}

.tabbar li.on {
    background: var(--w-color-2);
    color: var(--w-color-1);
}



/* tabbar */

.setmenu{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 0;
    flex-direction: column;
    gap: 10vh;
}

.setmenu h3{
    font-weight: 500;
    font-size: clamp(32px, 5vw, 50px);
}

.setmenu .setlist{
    display: flex;
    flex-direction: column;
    gap: 11vh;
}
.setmenu .setlist li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    text-align: center;
}
.setmenu .setlist li a .imgbox{
    width: 80vw;             
    aspect-ratio: 2 / 1;      
    height: auto;              
    max-width: 1000px;         
    display: block;
    background: #ccc;
}
.setmenu .setlist li a .txt{
}
.setmenu .setlist li a .tit{}
.setmenu .setlist li a .tit h5{
    color: #aaa;
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 500;
    margin-bottom: 1vh;
}
.setmenu .setlist li a .tit p{
    font-size: clamp(18px, 2.2vw, 24px);
    font-weight: 400;
}
.setmenu .setlist li a .price{
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: var( --Prociono);
    gap: 8px;
}
.setmenu .setlist li a .price h4{
    font-weight: 400;
    font-size: clamp(30px, 4vw, 46px);
}
.setmenu .setlist li a .price span{
    color: var(--w-gray);
    font-size: clamp(14px, 2vw, 20px);
}

.setmenu .setlist li:nth-child(1) .imgbox{
    background: url(../asset/menu/setmenu1.png) center/cover no-repeat;
}
.setmenu .setlist li:nth-child(2) .imgbox{
    background: url(../asset/menu/setmenu2.png) center/cover no-repeat;
}
.setmenu .setlist li:nth-child(3) .imgbox{
    background: url(../asset/menu/setmenu3.png) center/cover no-repeat;
}

.lunch{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vh 0;
    gap: 10vh;
}

.lunch h3{
    font-weight: 500;
    font-size: clamp(32px, 5vw, 50px);
}

.lunch .lunchmenulist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    height: auto;
    gap: 2vh;
}

.lunch .lunchmenulist .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    height: 40vh;
    width: 260px;
    color: #999;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.lunch .lunchmenulist .menu a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #eee;
}
.lunch .lunchmenulist .menu a>img{
    width: 40vw;               
    aspect-ratio: 1 / 1;        
    height: auto;               
    max-width: 350px;          
    display: block;
    transition: .5s;
}
.lunch .lunchmenulist a p{
    font-size: clamp(14px, 2vw, 20px);
}
.lunch .lunchmenulist .empty{
    width: 40vw;
    max-width: 386px;
    border: none;
}

.lunch .lunchmenulist .menu a:hover > img{
    transform: scale(1.1);
}

.lunch .lunchmenulist .menu a:hover{
    background: #f3f3f3;
}